{% extends "base.html" %}
{% block content %}
    {% load static %}

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
    #image {
        width: clamp(800px, 40%, 1000px);
        height: clamp(1000px, 40%, 1300px);
    }
    </style>
    <div class="h-10"></div>

    <div class="flex md:container md:mx-auto px-4">
        <div id="image"  class="border border-slate-300 hover:border-slate-400 rounded-2xl box-border p-3 border-4 ml-28 mr-28" >
            <img src="{% static 'aayush.png' %}" alt="Image" class="rounded">
        </div>

        <div class="w-2/3">
            <div class="title align-left font-base font-bold tracking-wide text-7xl opacity-100 py-2">Aayush Kumar
                Singh
            </div>
            <div class="bg-[#d3d3d3] w-[57%] h-1"></div>
            <div class="align-center font-serif tracking-wide text-xl opacity-100 text-wrap py-5 px-5">Welcome to my
                portfolio! I am passionate about development and strive to deliver excellence in every project I
                undertake. My aim is to contribute to a <strong>progressive and growth-oriented</strong> organization where I can work on
                <strong>challenging projects</strong> and continue learning new skills.Welcome to my portfolio! I am passionate about
                development and <strong>strive to deliver excellence</strong> in every project I undertake. My aim is to contribute to a
                progressive and growth-oriented organization where I can work on challenging projects and continue
                learning new skills.
            </div>
        </div>
    </div>
    <div class="h-8"></div>
    <div class="md:container md:mx-auto">
        <div class="underline underline-offset-1 font-serif text-3xl font-bold px-[7%] py-[2%]">
            Education :
        </div>
        <div class='flex content-evenly w-100 justify-evenly divide-x-2 divide-black'>
            <div class="content-center w-50">
                <div class="title align-left font-serif font-bold tracking-wide text-2xl"> Chandigarh University</div>
                <div class="bg-[#d3d3d3] w-[57%] h-1"></div>
                <div class="align-left font-serif tracking-wide text-2xl">Course : Bachelors in Engineering</div>
                <div class="align-left font-serif tracking-wide text-2xl">Stream : Computer Science and Engineering</div>
                <div class="align-left font-serif tracking-wide text-2xl">Year of Completion : 2025</div>
                <div class="align-left font-serif tracking-wide text-xl">CGPA : 7.87</div>
            </div>
            <div class="content-center w-50 px-[7%]">
                <div class="title align-left font-serif font-bold tracking-wide text-2xl"> St. Karen's Secondary School
                </div>
                <div class="bg-[#d3d3d3] w-[79%] h-1"></div>
                <div class="align-left font-serif tracking-wide text-2xl">Stream : PCM (Physics Chemistry Maths)</div>
                <div class="align-left font-serif tracking-wide text-2xl">Year of Completion : 2021</div>
                <div class="align-left font-serif tracking-wide text-xl">Percentage : 81 %</div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}
